---
---

$wrap: 600px;

.blog-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  color: var(--gray);
}

.blog-nav > :first-child {
  text-align: left;
}

.blog-nav > :last-child {
  text-align: right;
}

.blog-nav > :first-child .icon {
  margin-right: 0.5em;
}

.blog-nav > :last-child .icon {
  margin-left: 0.5em;
}

@media (max-width: $wrap) {
  .post-nav {
    align-items: center;
    flex-direction: column;
  }

  .blog-nav > * {
    text-align: center !important;
  }
}
